body {
  font-family: Arial, sans-serif;
  background-color: #4caf50;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 1em;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  display: none;
}

body {
  /* Otras propiedades... */
  background-image: url("images/paintball-background.png");
  background-size: contain;
  background-position: center;
}

.login-container {
  /* Otras propiedades... */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Blanco con un poco de transparencia */
}
